<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="Gameball_sales_order_creditmemo_save_after" instance="GbPlugin\Integration\Observer\OrderRefund\OrderRefund"/>
    </event>
    <event name="layout_load_before">
        <observer name="intallation_task" instance="GbPlugin\Integration\Observer\InstallTask" />
    </event>
    </config>